<a href="https://colab.research.google.com/github/olesia-za/python_for_ds_tasks/blob/main/OZ_Done_hw_3_4_apply%2C_groupby%2C_pivot_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [1]:
import pandas as pd
df = pd.read_csv("../data/supermarket_sales.csv")

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [ ]:
df.groupby('Branch')['Total'].sum().sort_values(ascending=False)
# C - 110568.7065

Branch
C    110568.7065
A    106200.3705
B    106197.6720
Name: Total, dtype: float64

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [ ]:
df.groupby(['Branch', 'City'])['Total'].sum().nlargest(1)
# —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó –¥–ª—è –¥–æ—Å–ª—ñ–¥–∂–µ–Ω–Ω—è —á–∏ –≤–∏–≥—ñ–¥–Ω–æ —Ä–æ–∑–º—ñ—Å—Ç–∏—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω —É 'Naypyitaw' –Ω–µ–¥–æ—Å—Ç–∞—Ç–Ω—å–æ

Branch  City
C       Naypyitaw    110568.7065
Name: Total, dtype: float64

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [29]:
invoices_by_category = df.pivot_table(index=['Branch'], columns=['Product line'], values='Invoice ID' , aggfunc="count")
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [31]:
invoices_by_category['Electronic accessories'].nlargest(1)

Branch
A    60
Name: Electronic accessories, dtype: int64

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

1) –Ø–∫—ñ —Ç–µ–Ω–¥–µ–Ω—Ü—ñ—ó –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –ø–æ–∫—É–ø–æ–∫ —Ç–∞ –∑–∞–≥–∞–ª—å–Ω–æ—ó —Å—É–º–∏ –ø–æ–∫—É–ø–æ–∫ –Ω–∞—è–≤–Ω—ñ –≤ –∑–∞–ª–µ–∂–Ω–æ—Å—Ç—ñ –≤—ñ–¥ - Genger, Custom type –¥–ª—è —Ä—ñ–∑–Ω–∏—Ö Branch —Ç–∞ Product line 
2) –ß–∏ —î –ø—Ä–æ–±–ª–µ–º–∏ –∑ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è–º –ø–µ–≤–Ω–æ–≥–æ —Å–ø–æ—Å–æ–±—É –æ–ø–ª–∞—Ç–∏ –Ω–∞ —Ä—ñ–∑–Ω–∏—Ö Branch
3) –ß–∏ —î —Ç–µ–Ω–¥–µ–Ω—Ü—ñ—ó —Å—É—Ç—Ç—î–≤–æ–≥–æ –∑–Ω–∏–∂–µ–Ω–Ω—è —Ä–µ–π—Ç–∏–Ω–≥—ñ–≤ –¥–ª—è –ø–µ–≤–Ω–æ—ó Branch —Ç–∞ Product line 
4) –Ø–∫—ñ —Ç–µ–Ω–¥–µ–Ω—Ü—ñ—ó –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –ø–æ–∫—É–ø–æ–∫ —Ç–∞ –∑–∞–≥–∞–ª—å–Ω–æ—ó —Å—É–º–∏ –ø–æ–∫—É–ø–æ–∫ –Ω–∞—è–≤–Ω—ñ –≤ –∑–∞–ª–µ–∂–Ω–æ—Å—Ç—ñ –≤—ñ–¥ - –¥–Ω—è —Ç–∞ –Ω–∞ —Ä—ñ–∑–Ω–∏—Ö Branch

In [ ]:
df.pivot_table(index=['Branch','Gender'], columns=['Product line'], values='Invoice ID' , aggfunc="count")
# 1) –Ø–∫—ñ —Ç–µ–Ω–¥–µ–Ω—Ü—ñ—ó –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –ø–æ–∫—É–ø–æ–∫ —Ç–∞ –∑–∞–≥–∞–ª—å–Ω–æ—ó —Å—É–º–∏ –ø–æ–∫—É–ø–æ–∫ –Ω–∞—è–≤–Ω—ñ –≤ –∑–∞–ª–µ–∂–Ω–æ—Å—Ç—ñ –≤—ñ–¥ - Genger, Custom type –¥–ª—è —Ä—ñ–∑–Ω–∏—Ö Branch —Ç–∞ Product line 
# –¥–ª—è Branch 'C' - 'Sports and travel'  –¥–ª—è —á–æ–ª–æ—ñ–∫—ñ–≤ –∑–Ω–∞—á–Ω–æ –º–µ–Ω—à–∏–π –Ω—ñ–∂ –¥–ª—è –∂—ñ–Ω–æ–∫, –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–æ –≤–∞—Ä—Ç–æ –∑–±—ñ–ª—å—à–∏—Ç–∏ –∞–±–æ –ø–æ–∫—Ä–∞—â–∏—Ç–∏ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç —Ü—ñ—î—ó –≥—Ä—É–ø–∏ —Ç–æ–≤–∞—Ä—ñ–≤ –¥–ª—è —á–æ–ª–æ–≤—ñ–∫—ñ–≤
# –¥–ª—è Branch 'A' - 'Food and beverages'  –¥–ª—è –∂—ñ–Ω–æ–∫ –∑–Ω–∞—á–Ω–æ –º–µ–Ω—à–∏–π –Ω—ñ–∂ –¥–ª—è —á–æ–ª–æ–≤—ñ–∫—ñ–≤, –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–æ –≤–∞—Ä—Ç–æ –∑–±—ñ–ª—å—à–∏—Ç–∏ –∞–±–æ –ø–æ–∫—Ä–∞—â–∏—Ç–∏ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç —Ü—ñ—î—ó –≥—Ä—É–ø–∏ —Ç–æ–≤–∞—Ä—ñ–≤ –¥–ª—è –∂—ñ–Ω–æ–∫

Product line   Electronic accessories  Fashion accessories  \
Branch Gender
A      Female                      28                   28
       Male                        32                   23
B      Female                      28                   33
       Male                        27                   29
C      Female                      28                   35
       Male                        27                   30

Product line   Food and beverages  Health and beauty  Home and lifestyle  \
Branch Gender
A      Female                  23                 21                  32
       Male                    35                 26                  33
B      Female                  29                 20                  22
       Male                    21                 33                  28
C      Female                  38                 23                  25
       Male                    28                 29                  20

Product line   Sports and travel
Branch Gender
A      Female                 29
       Male                   30
B      Female                 30
       Male                   32
C      Female                 29
       Male                   16

In [109]:
df.Gender.value_counts(normalize=True)
df.pivot_table(index=['Branch'], columns=['Gender'], values='Invoice ID' , aggfunc="count")

Gender  Female  Male
Branch
A          161   179
B          162   170
C          178   150

In [110]:
df['Customer type'].value_counts(normalize=True)
df.pivot_table(index=['Branch'], columns=['Customer type'], values='Invoice ID' , aggfunc="count")

Customer type  Member  Normal
Branch
A                 167     173
B                 165     167
C                 169     159

In [ ]:
df.pivot_table(index=['Branch','Customer type'], columns=['Product line'], values='Invoice ID' , aggfunc="count")
# 1) –Ø–∫—ñ —Ç–µ–Ω–¥–µ–Ω—Ü—ñ—ó –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –ø–æ–∫—É–ø–æ–∫ —Ç–∞ –∑–∞–≥–∞–ª—å–Ω–æ—ó —Å—É–º–∏ –ø–æ–∫—É–ø–æ–∫ –Ω–∞—è–≤–Ω—ñ –≤ –∑–∞–ª–µ–∂–Ω–æ—Å—Ç—ñ –≤—ñ–¥ - Genger, Custom type –¥–ª—è —Ä—ñ–∑–Ω–∏—Ö Branch —Ç–∞ Product line 
# –¥–ª—è Branch 'C'  - 'Electronic accessories' - —Ç—Ä–µ–±–∞ —Ä–æ–∑—Ä–æ–±–∏—Ç–∏ –ø—ñ–¥—Ö—ñ–¥ –±—ñ–ª—å—à–æ–≥–æ –∑–∞–ª—É—á–µ–Ω–Ω—è  'Member', –±–æ –Ω–∞—Ä–∞–∑—ñ —á–æ–º—É—Å—å 'Normal' —á–∞—Å—Ç—ñ—à–µ –∫—É—É—é—Ç—å —Ü—é –∫–∞—Ç–µ–≥–æ—Ä—ñ—é),
#  —Ç–∞–∫–æ–∂ –¥–ª—è –∫–∞—Ç–µ–≥–æ—Ä—ñ–π —Ç–æ–≤–∞—Ä—ñ–≤ Home and lifestyle —Ç–∞ Sports and travel -  –¥–ª—è Normal –¥–æ—Å–∏—Ç—å –º–∞–ª–æ –ø—Ä–æ–¥–∞–∂—ñ–≤ - > —Ç—Ä–µ–±–∞ –∞–±–æ –∑–∞–ª—É—á–∞—Ç–∏ —Å—Ç–∞–≤–∞—Ç–∏ –º–µ–º–±–µ—Ä–∞–º–∏ –∞–±–æ –ø–µ—Ä–µ–≥–ª—è–Ω—É—Ç–∏ —É–º–æ–≤–∏ –ø—Ä–æ–¥–∞–∂—É

Product line          Electronic accessories  Fashion accessories  \
Branch Customer type
A      Member                             31                   22
       Normal                             29                   29
B      Member                             27                   32
       Normal                             28                   30
C      Member                             20                   32
       Normal                             35                   33

Product line          Food and beverages  Health and beauty  \
Branch Customer type
A      Member                         29                 22
       Normal                         29                 25
B      Member                         29                 26
       Normal                         21                 27
C      Member                         36                 25
       Normal                         30                 27

Product line          Home and lifestyle  Sports and travel
Branch Customer type
A      Member                         34                 29
       Normal                         31                 30
B      Member                         21                 30
       Normal                         29                 32
C      Member                         28                 28
       Normal                         17                 17

In [ ]:
df.pivot_table(index=['Branch','Gender'], columns=['Customer type'], values=['Total','Invoice ID'] , aggfunc={'Total': "sum",'Invoice ID':"count"}).round(2)
# 1) –Ø–∫—ñ —Ç–µ–Ω–¥–µ–Ω—Ü—ñ—ó –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –ø–æ–∫—É–ø–æ–∫ —Ç–∞ –∑–∞–≥–∞–ª—å–Ω–æ—ó —Å—É–º–∏ –ø–æ–∫—É–ø–æ–∫ –Ω–∞—è–≤–Ω—ñ –≤ –∑–∞–ª–µ–∂–Ω–æ—Å—Ç—ñ –≤—ñ–¥ - Genger, Custom type –¥–ª—è —Ä—ñ–∑–Ω–∏—Ö Branch —Ç–∞ Product line 
# –º–µ–º–±–µ—Ä–∏ —á–æ–ª–æ–≤—ñ–∫–∏ –≤ –ª–æ–∫–∞—Ü—ñ—ó A —Ç–∞ B  –≤–∏—Ç—Ä–∞—á–∞—é—Ç—å—Å—è –±—ñ–ª—å—à–µ –∫–æ—à—Ç—ñ–≤ –Ω—ñ–∂ –º–µ–º–±–µ—Ä–∏ –≤ –ª–æ–∫–∞—Ü—ñ—ó C  - —Ç—Ä–µ–±–∞ –ø–µ—Ä–µ–≥–ª—è–Ω—É—Ç–∏ —É–º–æ–≤–∏ –º–µ–º–±–µ—Ä—ñ–≤ –ª–æ–∫–∞—Ü—ñ—ó –° —Ç–∞ –ø–µ—Ä–µ–≥–ª—è–Ω—É—Ç–∏ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç –¥–ª—è —á–æ–ª–æ–≤—ñ–∫—ñ–≤

              Invoice ID            Total
Customer type     Member Normal    Member    Normal
Branch Gender
A      Female         80     81  26643.07  26626.10
       Male           87     92  26994.41  25936.80
B      Female         85     77  26850.43  26077.86
       Male           80     90  26854.25  26415.12
C      Female         96     82  34653.44  27032.02
       Male           73     77  22227.84  26655.40

In [ ]:
df.pivot_table(index=['Branch'], columns=['Gender'], values=['Total','Invoice ID'] , aggfunc={'Total': "sum",'Invoice ID':"count"}).round(2)
# 1) –Ø–∫—ñ —Ç–µ–Ω–¥–µ–Ω—Ü—ñ—ó –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –ø–æ–∫—É–ø–æ–∫ —Ç–∞ –∑–∞–≥–∞–ª—å–Ω–æ—ó —Å—É–º–∏ –ø–æ–∫—É–ø–æ–∫ –Ω–∞—è–≤–Ω—ñ –≤ –∑–∞–ª–µ–∂–Ω–æ—Å—Ç—ñ –≤—ñ–¥ - Genger, Custom type –¥–ª—è —Ä—ñ–∑–Ω–∏—Ö Branch —Ç–∞ Product line 
# –º–µ–º–±–µ—Ä–∏ —á–æ–ª–æ–≤—ñ–∫–∏ –≤ –ª–æ–∫–∞—Ü—ñ—ó A —Ç–∞ B  –≤–∏—Ç—Ä–∞—á–∞—é—Ç—å—Å—è –±—ñ–ª—å—à–µ –∫–æ—à—Ç—ñ–≤ –Ω—ñ–∂ –º–µ–º–±–µ—Ä–∏ –≤ –ª–æ–∫–∞—Ü—ñ—ó C  - —Ç—Ä–µ–±–∞ –ø–µ—Ä–µ–≥–ª—è–Ω—É—Ç–∏ —É–º–æ–≤–∏ –º–µ–º–±–µ—Ä—ñ–≤ –ª–æ–∫–∞—Ü—ñ—ó –° —Ç–∞ –ø–µ—Ä–µ–≥–ª—è–Ω—É—Ç–∏ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç –¥–ª—è —á–æ–ª–æ–≤—ñ–∫—ñ–≤

       Invoice ID          Total
Gender     Female Male    Female      Male
Branch
A             161  179  53269.17  52931.20
B             162  170  52928.30  53269.38
C             178  150  61685.46  48883.24

In [113]:
df.pivot_table(index=['Branch'], columns=['Customer type'], values=['Total','Invoice ID'] , aggfunc={'Total': "sum",'Invoice ID':"count"}).round(2)

              Invoice ID            Total
Customer type     Member Normal    Member    Normal
Branch
A                    167    173  53637.48  52562.90
B                    165    167  53704.69  52492.99
C                    169    159  56881.28  53687.42

In [116]:
df.pivot_table(index=['Branch','Gender','Customer type'], columns=['Product line'], values='Invoice ID' , aggfunc="count")

Product line                 Electronic accessories  Fashion accessories  \
Branch Gender Customer type
A      Female Member                             12                   12
              Normal                             16                   16
       Male   Member                             19                   10
              Normal                             13                   13
B      Female Member                             14                   16
              Normal                             14                   17
       Male   Member                             13                   16
              Normal                             14                   13
C      Female Member                              9                   19
              Normal                             19                   16
       Male   Member                             11                   13
              Normal                             16                   17

Product line                 Food and beverages  Health and beauty  \
Branch Gender Customer type
A      Female Member                         10                 12
              Normal                         13                  9
       Male   Member                         19                 10
              Normal                         16                 16
B      Female Member                         18                  7
              Normal                         11                 13
       Male   Member                         11                 19
              Normal                         10                 14
C      Female Member                         23                 11
              Normal                         15                 12
       Male   Member                         13                 14
              Normal                         15                 15

Product line                 Home and lifestyle  Sports and travel
Branch Gender Customer type
A      Female Member                         16                 18
              Normal                         16                 11
       Male   Member                         18                 11
              Normal                         15                 19
B      Female Member                         12                 18
              Normal                         10                 12
       Male   Member                          9                 12
              Normal                         19                 20
C      Female Member                         19                 15
              Normal                          6                 14
       Male   Member                          9                 13
              Normal                         11                  3

In [ ]:
df.Payment.value_counts(normalize=True)
# 2) –ß–∏ —î –ø—Ä–æ–±–ª–µ–º–∏ –∑ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è–º –ø–µ–≤–Ω–æ–≥–æ —Å–ø–æ—Å–æ–±—É –æ–ø–ª–∞—Ç–∏ –Ω–∞ —Ä—ñ–∑–Ω–∏—Ö Branch
#  —É—Å—ñ —Å–ø–æ—Å–æ–±–∏ –æ–ø–ª–∞—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—é—Ç—å—Å—è —ñ–Ω—Ç–µ–Ω—Å–∏–≤–Ω–æ

Payment
Ewallet        0.345
Cash           0.344
Credit card    0.311
Name: proportion, dtype: float64

In [ ]:
df.pivot_table(index=['Branch'], columns=['Payment'], values='Invoice ID' , aggfunc="count")
# 2) –ß–∏ —î –ø—Ä–æ–±–ª–µ–º–∏ –∑ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è–º –ø–µ–≤–Ω–æ–≥–æ —Å–ø–æ—Å–æ–±—É –æ–ø–ª–∞—Ç–∏ –Ω–∞ —Ä—ñ–∑–Ω–∏—Ö Branch 
# —É—Å—ñ —Å–ø–æ—Å–æ–±–∏ –æ–ø–ª–∞—Ç–∏ —ñ–Ω—Ç–µ—Å–∏–≤–Ω–æ –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—é—Ç—å—Å—è –Ω–∞ –∫–æ–∂–Ω—ñ–π –ª–æ–∫–∞—Ü—ñ—ó - –∑ –æ–ø–ª–∞—Ç–æ—é –Ω–µ–º–∞—î –ø—Ä–æ–±–ª–µ–º

Payment  Cash  Credit card  Ewallet
Branch
A         110          104      126
B         110          109      113
C         124           98      106

In [44]:
df.pivot_table(index=['Branch','Payment'], columns=['Product line'], values='Invoice ID' , aggfunc="count")

Product line        Electronic accessories  Fashion accessories  \
Branch Payment
A      Cash                             18                   13
       Credit card                      21                   17
       Ewallet                          21                   21
B      Cash                             24                   22
       Credit card                      15                   19
       Ewallet                          16                   21
C      Cash                             29                   22
       Credit card                      10                   20
       Ewallet                          16                   23

Product line        Food and beverages  Health and beauty  Home and lifestyle  \
Branch Payment
A      Cash                         18                 17                  24
       Credit card                  21                 14                  15
       Ewallet                      19                 16                  26
B      Cash                          8                 17                  13
       Credit card                  25                 17                  15
       Ewallet                      17                 19                  22
C      Cash                         31                 15                  14
       Credit card                  15                 19                  15
       Ewallet                      20                 18                  16

Product line        Sports and travel
Branch Payment
A      Cash                        20
       Credit card                 16
       Ewallet                     23
B      Cash                        26
       Credit card                 18
       Ewallet                     18
C      Cash                        13
       Credit card                 19
       Ewallet                     13

In [ ]:
df.pivot_table(index=['Branch','Gender','Customer type'], columns=['Product line'], values='Rating' , aggfunc="mean").round(2)
# 3) –ß–∏ —î —Ç–µ–Ω–¥–µ–Ω—Ü—ñ—ó —Å—É—Ç—Ç—î–≤–æ–≥–æ –∑–Ω–∏–∂–µ–Ω–Ω—è —Ä–µ–π—Ç–∏–Ω–≥—ñ–≤ –¥–ª—è –ø–µ–≤–Ω–æ—ó Branch —Ç–∞ Product line 
# —É—Å—ñ Product Line –Ω–∞ –≤—ñ—Ö Branch –º–∞—é—Ç—å –ø—Ä–∏–π–Ω—è—Ç–Ω–∏–π —Å–µ—Ä–µ–¥–Ω—ñ–π —Ä–µ–π—Ç–∏–Ω–≥ –≤—ñ–¥ 6 –¥–æ 8

Product line                 Electronic accessories  Fashion accessories  \
Branch Gender Customer type
A      Female Member                           6.42                 6.64
              Normal                           6.22                 7.31
       Male   Member                           7.55                 6.66
              Normal                           7.28                 6.73
B      Female Member                           7.04                 6.46
              Normal                           7.16                 6.89
       Male   Member                           7.31                 6.46
              Normal                           6.96                 7.15
C      Female Member                           6.76                 7.93
              Normal                           7.04                 7.24
       Male   Member                           6.11                 7.22
              Normal                           6.83                 7.26

Product line                 Food and beverages  Health and beauty  \
Branch Gender Customer type
A      Female Member                       6.88               6.61
              Normal                       7.09               7.52
       Male   Member                       7.11               7.47
              Normal                       7.79               6.41
B      Female Member                       7.12               8.01
              Normal                       7.66               6.90
       Male   Member                       6.87               6.87
              Normal                       6.17               7.14
C      Female Member                       6.94               7.24
              Normal                       7.68               7.08
       Male   Member                       6.96               6.89
              Normal                       6.79               6.85

Product line                 Home and lifestyle  Sports and travel
Branch Gender Customer type
A      Female Member                       6.98               7.02
              Normal                       6.28               7.38
       Male   Member                       6.64               7.86
              Normal                       7.91               7.06
B      Female Member                       7.28               6.21
              Normal                       5.79               6.61
       Male   Member                       6.04               6.08
              Normal                       6.64               6.98
C      Female Member                       6.97               6.68
              Normal                       7.40               6.90
       Male   Member                       7.18               7.33
              Normal                       6.94               8.07

In [ ]:
# 3) –ß–∏ —î —Ç–µ–Ω–¥–µ–Ω—Ü—ñ—ó —Å—É—Ç—Ç—î–≤–æ–≥–æ –∑–Ω–∏–∂–µ–Ω–Ω—è —Ä–µ–π—Ç–∏–Ω–≥—ñ–≤ –¥–ª—è –ø–µ–≤–Ω–æ—ó Branch —Ç–∞ Product line 
# —É—Å—ñ Branch –º–∞—é—Ç—å –æ–¥–Ω–æ–≥–æ –ø–æ—Ä—è–¥–∫—É –º—ñ–Ω—ñ–º–∞–ª—å–Ω–∏–π(4-5), —Å–µ—Ä–µ–¥–Ω—ñ–π(6-8) —Ç–∞ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∏–π(8-10) —Ä–µ–π—Ç–∏–Ω–≥–∏
df.pivot_table(index=['Branch',"Customer type"], columns=['Product line'], values='Rating' , aggfunc=["min","mean","max"]).round(2)

                                        min                      \
Product line         Electronic accessories Fashion accessories
Branch Customer type
A      Member                           4.3                 4.1
       Normal                           4.5                 4.0
B      Member                           4.3                 4.1
       Normal                           4.0                 4.2
C      Member                           4.3                 4.0
       Normal                           4.1                 4.5

                                                                              \
Product line         Food and beverages Health and beauty Home and lifestyle
Branch Customer type
A      Member                       4.0               4.2                4.1
       Normal                       4.4               4.3                4.1
B      Member                       4.0               4.0                4.7
       Normal                       4.2               4.0                4.1
C      Member                       4.0               4.1                4.6
       Normal                       4.2               4.9                4.3

                                                         mean  \
Product line         Sports and travel Electronic accessories
Branch Customer type
A      Member                      4.2                   7.11
       Normal                      4.1                   6.70
B      Member                      4.1                   7.17
       Normal                      4.1                   7.06
C      Member                      4.3                   6.40
       Normal                      4.0                   6.95

                                                                               \
Product line         Fashion accessories Food and beverages Health and beauty
Branch Customer type
A      Member                       6.65               7.03              7.00
       Normal                       7.05               7.48              6.81
B      Member                       6.46               7.02              7.18
       Normal                       7.00               6.95              7.03
C      Member                       7.64               6.95              7.04
       Normal                       7.25               7.24              6.96

                                                           \
Product line         Home and lifestyle Sports and travel
Branch Customer type
A      Member                      6.80              7.34
       Normal                      7.07              7.18
B      Member                      6.75              6.16
       Normal                      6.34              6.84
C      Member                      7.04              6.98
       Normal                      7.10              7.11

                                        max                      \
Product line         Electronic accessories Fashion accessories
Branch Customer type
A      Member                           9.8                 9.9
       Normal                           9.9                 9.3
B      Member                           9.9                 9.9
       Normal                          10.0                 9.7
C      Member                           9.7                 9.8
       Normal                           9.8                 9.9

                                                                              \
Product line         Food and beverages Health and beauty Home and lifestyle
Branch Customer type
A      Member                       9.8               9.2                9.8
       Normal                       9.9              10.0                9.9
B      Member                       9.5               9.8                9.8
       Normal                       9.9               9.9                9.8
C      Member                       9.9               9.9                9.8
       Normal                       9.9               9.5                9.0


Product line         Sports and travel
Branch Customer type
A      Member                      9.9
       Normal                      9.7
B      Member                     10.0
       Normal                     10.0
C      Member                     10.0
       Normal                      9.5

In [ ]:
from datetime import date
import calendar

df['Date'] = pd.to_datetime(df['Date'])
df['Day'] = 'day'
for i,item in enumerate(df['Date']):
    item = item.date()
    df.loc[i , 'Day'] = calendar.day_name[item.weekday()]
df.Day.value_counts()
df.pivot_table(index=['Day'], columns=['Branch'], values=['Total','Invoice ID'] , aggfunc={'Total': "sum",'Invoice ID':"count"}).round(2)

# 4) –Ø–∫—ñ —Ç–µ–Ω–¥–µ–Ω—Ü—ñ—ó –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –ø–æ–∫—É–ø–æ–∫ —Ç–∞ –∑–∞–≥–∞–ª—å–Ω–æ—ó —Å—É–º–∏ –ø–æ–∫—É–ø–æ–∫ –Ω–∞—è–≤–Ω—ñ –≤ –∑–∞–ª–µ–∂–Ω–æ—Å—Ç—ñ –≤—ñ–¥ - –¥–Ω—è —Ç–∞ –Ω–∞ —Ä—ñ–∑–Ω–∏—Ö Branch 
# –¥–ª—è –ª–æ–∫–∞—Ü—ñ—ó –ê - –±—ñ–ª—å—à–µ –ø—Ä–æ–¥–∞–∂—ñ–≤ –ø–æ Sunday,Tuesday - –Ω–∞–π–º–µ–Ω—à–µ Wednesday,Thursday
# –¥–ª—è –ª–æ–∫–∞—Ü—ñ—ó B - –±—ñ–ª—å—à–µ –ø—Ä–æ–¥–∞–∂—ñ–≤ –ø–æ Saturday,Tuesday - –Ω–∞–π–º–µ–Ω—à–µ Sunday,Monday
# –¥–ª—è –ª–æ–∫–∞—Ü—ñ—ó C - –±—ñ–ª—å—à–µ –ø—Ä–æ–¥–∞–∂—ñ–≤ –ø–æ Saturday,Tuesday - –Ω–∞–π–º–µ–Ω—à–µ Friday,Monday

# –í–∏—Å–Ω–æ–≤–æ–∫ –Ω–∞–π–∞–∫—Ç—É–∞–ª—å–Ω—ñ—à–µ –ø–ª–∞–Ω—É–≤–∞—Ç–∏ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤—ñ –∞–∫—Ü—ñ—ó –Ω–∞ –¥–Ω—ñ –∫–æ–ª–∏ —É –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω—ñ–π –ª–æ–∫–∞—Ü—ñ—ó –Ω–∞–π–±—ñ–ª—å—à–µ –ø—Ä–æ–¥–∞–∂—ñ–≤ —Ç–∞ —É–Ω–∏–∫–∞—Ç–∏ –¥–Ω—ñ –Ω–∞–π–º–µ–Ω—à–∏—Ö –ø—Ä–æ–¥–∞–∂—ñ–≤

          Invoice ID             Total
Branch             A   B   C         A         B         C
Day
Friday            50  51  38  14543.86  14417.76  14964.72
Monday            48  39  38  14239.06  12734.70  10925.31
Saturday          50  60  54  16765.41  21284.42  18070.97
Sunday            52  35  46  17006.82  10415.33  17035.75
Thursday          46  44  48  15422.27  15778.62  14148.35
Tuesday           51  53  54  14955.21  18859.24  17667.79
Wednesday         43  50  50  13267.73  12707.59  17755.81

In [117]:
df.pivot_table(index=['Day'], columns=['Product line'], values=['Total','Invoice ID'] , aggfunc={'Total': "sum",'Invoice ID':"count"}).round(2)

                         Invoice ID                                         \
Product line Electronic accessories Fashion accessories Food and beverages
Day
Friday                           17                  30                 19
Monday                           23                  18                 22
Saturday                         27                  35                 31
Sunday                           20                  20                 23
Thursday                         36                  21                 20
Tuesday                          29                  26                 26
Wednesday                        18                  28                 33

                                                                     \
Product line Health and beauty Home and lifestyle Sports and travel
Day
Friday                      26                 24                23
Monday                      26                 20                16
Saturday                    19                 24                28
Sunday                      14                 32                24
Thursday                    19                 19                23
Tuesday                     29                 22                26
Wednesday                   19                 19                26

                              Total                                         \
Product line Electronic accessories Fashion accessories Food and beverages
Day
Friday                      4848.15             9554.76            4558.43
Monday                      5922.13             6419.52            6612.23
Saturday                    9744.38            10778.92            9375.40
Sunday                      6411.88             5583.74            7763.42
Thursday                   12435.16             7725.89            6798.59
Tuesday                    10110.92             7423.28            9848.30
Wednesday                   4864.91             6819.78           11188.48


Product line Health and beauty Home and lifestyle Sports and travel
Day
Friday                 8331.02            6875.42           9758.56
Monday                 8448.24            6095.34           4401.62
Saturday               7410.34            9208.01           9603.76
Sunday                 4973.34           12072.29           7653.23
Thursday               5582.47            5427.30           7379.83
Tuesday                8559.59            7708.73           7831.42
Wednesday              5888.75            6474.81           8494.40