In [6]:
import pandas as pd

df_users= pd.read_csv('../data/p_users.csv')
df_ad_events= pd.read_csv('../data/p_ad_events.csv')
df_ads= pd.read_csv('../data/p_ads.csv')
df_campaigns= pd.read_csv('../data/p_campaigns.csv')

In [4]:
df_users.head()

,user_id,user_gender,user_age,age_group,country,location,interests
0,a2474,Female,24,18-24,United Kingdom,New Mariomouth,"fitness, health"
1,141e5,Male,21,18-24,Germany,Danielsfort,"food, fitness, lifestyle"
2,34db0,Male,27,25-34,Australia,Vincentchester,"fashion, news"
3,20d08,Female,28,25-34,India,Lisaport,"health, news, finance"
4,9e830,Male,28,25-34,United States,Brownmouth,"health, photography, lifestyle"

In [15]:
df_users.info(), df_users.nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      10000 non-null  object
 1   user_gender  10000 non-null  object
 2   user_age     10000 non-null  int64
 3   age_group    10000 non-null  object
 4   country      10000 non-null  object
 5   location     10000 non-null  object
 6   interests    10000 non-null  object
dtypes: int64(1), object(6)
memory usage: 547.0+ KB

(None,
 user_id        9950
 user_gender       3
 user_age         50
 age_group         6
 country          10
 location       7706
 interests      1641
 dtype: int64)

In [7]:
users_duplicates = df_users[df_users['user_id'].duplicated()]['user_id'].sort_values(ascending=False)
df_users[df_users['user_id'].isin(users_duplicates)].sort_values(by='user_id')
df_users = df_users.drop_duplicates(subset=['user_id']).reset_index(drop=True)

In [8]:
df_users.describe(include='all').round(0)

,user_id,user_gender,user_age,age_group,country,location,interests
count,9950,9950,9950.0,9950,9950,9950,9950
unique,9950,3,NaN,6,10,7679,1639
top,99e3f,Male,NaN,25-34,United States,West Michael,fitness
freq,1,5505,NaN,4113,3002,15,283
mean,NaN,NaN,28.0,NaN,NaN,NaN,NaN
std,NaN,NaN,8.0,NaN,NaN,NaN,NaN
min,NaN,NaN,16.0,NaN,NaN,NaN,NaN
25%,NaN,NaN,21.0,NaN,NaN,NaN,NaN
50%,NaN,NaN,26.0,NaN,NaN,NaN,NaN
75%,NaN,NaN,32.0,NaN,NaN,NaN,NaN
max,NaN,NaN,65.0,NaN,NaN,NaN,NaN

In [7]:
df_ads.head()

,ad_id,campaign_id,ad_platform,ad_type,target_gender,target_age_group,target_interests
0,1,28,Facebook,Video,Female,35-44,"art, technology"
1,2,33,Facebook,Stories,All,25-34,"travel, photography"
2,3,20,Instagram,Carousel,All,25-34,technology
3,4,28,Facebook,Stories,Female,25-34,news
4,5,24,Instagram,Image,Female,25-34,news

In [9]:
df_ads.info(), df_ads['ad_id'].nunique(), df_ads['campaign_id'].nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ad_id             200 non-null    int64
 1   campaign_id       200 non-null    int64
 2   ad_platform       200 non-null    object
 3   ad_type           200 non-null    object
 4   target_gender     200 non-null    object
 5   target_age_group  200 non-null    object
 6   target_interests  200 non-null    object
dtypes: int64(2), object(5)
memory usage: 11.1+ KB

(None, 200, 48)

In [10]:
df_campaigns.head()

,campaign_id,name,start_date,end_date,duration_days,total_budget
0,1,Campaign_1_Launch,2025-05-25,2025-07-23,59,24021.32
1,2,Campaign_2_Launch,2025-04-16,2025-07-07,82,79342.41
2,3,Campaign_3_Winter,2025-05-04,2025-06-29,56,14343.25
3,4,Campaign_4_Summer,2025-06-04,2025-08-08,65,45326.60
4,5,Campaign_5_Launch,2025-07-11,2025-08-28,48,68376.69

In [11]:
df_campaigns.info(),df_campaigns.nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   campaign_id    50 non-null     int64
 1   name           50 non-null     object
 2   start_date     50 non-null     object
 3   end_date       50 non-null     object
 4   duration_days  50 non-null     int64
 5   total_budget   50 non-null     float64
dtypes: float64(1), int64(2), object(3)
memory usage: 2.5+ KB

(None,
 campaign_id      50
 name             50
 start_date       41
 end_date         46
 duration_days    33
 total_budget     50
 dtype: int64)

In [12]:
df_ad_events.head()

,event_id,ad_id,user_id,timestamp,day_of_week,time_of_day,event_type
0,1,197,2359b,2025-07-26 00:19:56,Saturday,Night,Like
1,2,51,f9c67,2025-06-15 08:28:07,Sunday,Morning,Share
2,3,46,5b868,2025-06-27 00:40:02,Friday,Night,Impression
3,4,166,3d440,2025-06-05 19:20:45,Thursday,Evening,Impression
4,5,52,68f1a,2025-07-22 08:30:29,Tuesday,Morning,Impression

In [13]:
df_ad_events.info(), df_ad_events.nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400000 entries, 0 to 399999
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   event_id     400000 non-null  int64
 1   ad_id        400000 non-null  int64
 2   user_id      400000 non-null  object
 3   timestamp    400000 non-null  object
 4   day_of_week  400000 non-null  object
 5   time_of_day  400000 non-null  object
 6   event_type   400000 non-null  object
dtypes: int64(2), object(5)
memory usage: 21.4+ MB

(None,
 event_id       400000
 ad_id             200
 user_id          9950
 timestamp      389968
 day_of_week         7
 time_of_day         4
 event_type          6
 dtype: int64)

In [14]:
df_ad_events['event_type'].value_counts(normalize=True)

event_type
Impression    0.849530
Click         0.100197
Like          0.030033
Comment       0.010270
Purchase      0.005078
Share         0.004893
Name: proportion, dtype: float64

In [15]:
df_ad_events.groupby('event_type').agg(event_count = ('event_type', 'count'),
                                       unique_ads=('ad_id', 'nunique'),
                                       unique_users=('user_id', 'nunique')
).sort_values(by='event_count', ascending=False)

            event_count  unique_ads  unique_users
event_type
Impression       339812         200          9950
Click             40079         200          9772
Like              12013         200          6959
Comment            4108         200          3339
Purchase           2031         200          1835
Share              1957         200          1789

In [16]:
df_ad_events.groupby(['user_id','ad_id'])['event_type'].value_counts().unstack(fill_value=0).sort_values(by=['Purchase','Share','Comment'], ascending=False)

event_type     Click  Comment  Impression  Like  Purchase  Share
user_id ad_id
1228e   119        0        0           0     0         1      1
8804d   111        0        0           0     0         1      1
bc490   114        0        0           0     0         1      1
4ee79   154        0        1           0     0         1      0
892c5   139        0        1           0     0         1      0
...              ...      ...         ...   ...       ...    ...
fffa7   176        1        0           0     0         0      0
        181        1        0           0     0         0      0
        188        0        0           1     0         0      0
        191        0        0           1     0         0      0
        196        1        0           0     0         0      0

[362122 rows x 6 columns]

In [17]:
# df_ad_events.merge(df_ads, on='ad_id', how='left').merge(df_campaigns, on='campaign_id', how='left').merge(df_users, on='user_id', how='left')
df_ad_events[(df_ad_events['user_id']=='ffcdd') & (df_ad_events['ad_id']==108)]

,event_id,ad_id,user_id,timestamp,day_of_week,time_of_day,event_type
63841,63842,108,ffcdd,2025-06-22 17:05:23,Sunday,Afternoon,Impression
117290,117291,108,ffcdd,2025-06-11 14:17:32,Wednesday,Afternoon,Impression
377938,377939,108,ffcdd,2025-05-22 09:53:41,Thursday,Morning,Impression

In [18]:
df_ad_events_merged = df_ad_events.merge(df_ads, on='ad_id', how='left', suffixes=('', '_ad')
                                    ).merge(df_campaigns, on='campaign_id', how='left', suffixes=('', '_')
                                    ).merge(df_users, on='user_id', how='left')
df_ad_events_merged.head()

,event_id,ad_id,user_id,timestamp,day_of_week,time_of_day,event_type,campaign_id,ad_platform,ad_type,...,start_date,end_date,duration_days,total_budget,user_gender,user_age,age_group,country,location,interests
0,1,197,2359b,2025-07-26 00:19:56,Saturday,Night,Like,9,Facebook,Stories,...,2025-05-25,2025-07-13,49,40094.07,Female,24,18-24,United States,West Shawna,"gaming, food"
1,2,51,f9c67,2025-06-15 08:28:07,Sunday,Morning,Share,26,Instagram,Carousel,...,2025-04-01,2025-06-17,77,44538.87,Female,30,25-34,United States,Meyersland,"photography, finance"
2,3,46,5b868,2025-06-27 00:40:02,Friday,Night,Impression,10,Instagram,Carousel,...,2025-05-17,2025-07-21,65,19669.27,Male,20,18-24,United States,Barrerahaven,"fashion, sports, travel"
3,4,166,3d440,2025-06-05 19:20:45,Thursday,Evening,Impression,14,Instagram,Image,...,2025-04-15,2025-06-04,50,39849.94,Female,18,18-24,United States,Lake Angelaland,"food, art"
4,5,52,68f1a,2025-07-22 08:30:29,Tuesday,Morning,Impression,2,Instagram,Stories,...,2025-04-16,2025-07-07,82,79342.41,Male,58,55-65,United Kingdom,Robinsonberg,"finance, lifestyle"

In [19]:
df_ad_events_merged['user_id'].nunique(), df_ad_events_merged['ad_id'].nunique(), df_ad_events_merged['campaign_id'].nunique()
df_ad_events_merged.to_csv('../data/ad_events_merged.csv', index=False)

In [ ]:
df_ad_events_merged.groupby(['user_id','campaign_id'])['event_type'].value_counts().unstack(fill_value=0).sort_values(by=['Purchase','Share','Comment'], ascending=False)
#  You can buy without Impression or maybe Click - it is strange but it is wrong to calculate conversion like Purchase/Impression.

event_type           Click  Comment  Impression  Like  Purchase  Share
user_id campaign_id
1d530   42               0        0           1     1         2      0
471ab   39               0        0           1     0         2      0
dda3a   15               0        0           1     0         2      0
f0655   17               0        0           2     0         2      0
0fae7   34               1        0           2     0         1      1
...                    ...      ...         ...   ...       ...    ...
fffa7   37               1        0           2     0         0      0
        38               0        0           3     0         0      0
        45               0        0           1     0         0      0
        46               0        0           1     0         0      0
        47               0        0           1     0         0      0

[254658 rows x 6 columns]

In [22]:
df_ad_events_merged[(df_ad_events_merged['user_id']=='00567') & (df_ad_events_merged['campaign_id']==1)]

,event_id,ad_id,user_id,timestamp,day_of_week,time_of_day,event_type,campaign_id,ad_platform,ad_type,...,start_date,end_date,duration_days,total_budget,user_gender,user_age,age_group,country,location,interests
103105,103106,56,00567,2025-06-13 22:23:09,Friday,Evening,Purchase,1,Instagram,Stories,...,2025-05-25,2025-07-23,59,24021.32,Male,28,25-34,United States,Lake Andrew,gaming

In [37]:

df_m= pd.read_csv('../data/marketing_campaign_dataset.csv')
df_m.head()

,Campaign_ID,Company,Campaign_Type,Target_Audience,Duration,Channel_Used,Conversion_Rate,Acquisition_Cost,ROI,Location,Date,Clicks,Impressions,Engagement_Score,Customer_Segment
0,1,Innovate Industries,Email,Men 18-24,30 days,Google Ads,0.04,16174.0,6.29,Chicago,1/1/2021,506,1922,6,Health & Wellness
1,2,NexGen Systems,Email,Women 35-44,60 days,Google Ads,0.12,11566.0,5.61,New York,1/2/2021,116,7523,7,Fashionistas
2,3,Alpha Innovations,Influencer,Men 25-34,30 days,YouTube,0.07,10200.0,7.18,Los Angeles,1/3/2021,584,7698,1,Outdoor Adventurers
3,4,DataTech Solutions,Display,All Ages,60 days,YouTube,0.11,12724.0,5.55,Miami,1/4/2021,217,1820,7,Health & Wellness
4,5,NexGen Systems,Email,Men 25-34,15 days,YouTube,0.05,16452.0,6.50,Los Angeles,1/5/2021,379,4201,3,Health & Wellness

In [26]:
df_m.info(), df_m.nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200005 entries, 0 to 200004
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Campaign_ID       200005 non-null  int64
 1   Company           200005 non-null  object
 2   Campaign_Type     200005 non-null  object
 3   Target_Audience   200005 non-null  object
 4   Duration          200005 non-null  object
 5   Channel_Used      200005 non-null  object
 6   Conversion_Rate   200005 non-null  float64
 7   Acquisition_Cost  200005 non-null  float64
 8   ROI               200005 non-null  float64
 9   Location          200005 non-null  object
 10  Date              200005 non-null  object
 11  Clicks            200005 non-null  int64
 12  Impressions       200005 non-null  int64
 13  Engagement_Score  200005 non-null  int64
 14  Customer_Segment  200005 non-null  object
dtypes: float64(3), int64(4), object(8)
memory usage: 22.9+ MB

(None,
 Campaign_ID         200005
 Company                  5
 Campaign_Type            5
 Target_Audience          5
 Duration                 4
 Channel_Used             6
 Conversion_Rate         15
 Acquisition_Cost     15001
 ROI                    601
 Location                 5
 Date                   365
 Clicks                 901
 Impressions           9001
 Engagement_Score        10
 Customer_Segment         5
 dtype: int64)

In [34]:
df_ca= pd.read_csv('../data/campaign_data.csv')
df_ca.info(), df_ca.nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   CampaignID           100000 non-null  object
 1   GoalAmount           100000 non-null  int64
 2   RaisedAmount         100000 non-null  float64
 3   DurationDays         100000 non-null  int64
 4   NumBackers           100000 non-null  int64
 5   Category             100000 non-null  object
 6   LaunchMonth          100000 non-null  object
 7   Country              100000 non-null  object
 8   Currency             100000 non-null  object
 9   OwnerExperience      100000 non-null  int64
 10  VideoIncluded        100000 non-null  object
 11  SocialMediaPresence  100000 non-null  int64
 12  NumUpdates           100000 non-null  int64
 13  IsSuccessful         100000 non-null  int64
dtypes: float64(1), int64(7), object(6)
memory usage: 10.7+ MB

(None,
 CampaignID             100000
 GoalAmount              63116
 RaisedAmount           100000
 DurationDays               75
 NumBackers               1990
 Category                    5
 LaunchMonth                12
 Country                     5
 Currency                    5
 OwnerExperience            20
 VideoIncluded               2
 SocialMediaPresence     63134
 NumUpdates                 50
 IsSuccessful                2
 dtype: int64)

In [35]:
df_ca.head()

,CampaignID,GoalAmount,RaisedAmount,DurationDays,NumBackers,Category,LaunchMonth,Country,Currency,OwnerExperience,VideoIncluded,SocialMediaPresence,NumUpdates,IsSuccessful
0,CID_00000,76159,73518.028955,15,1903,Film,September,Australia,GBP,11,Yes,41758,3,0
1,CID_00001,69394,60068.683288,49,469,Art,October,Australia,GBP,7,Yes,79112,48,0
2,CID_00002,18652,22958.153470,58,148,Film,February,USA,EUR,17,No,3942,9,1
3,CID_00003,19487,24229.048390,39,780,Film,October,Germany,AUD,10,No,22047,35,1
4,CID_00004,26734,17984.630311,68,1622,Games,September,Australia,AUD,12,Yes,72568,17,0

In [36]:
df_ca['amountDifference'] = (df_ca['GoalAmount'] - df_ca['RaisedAmount'])/df_ca['GoalAmount'] * 100